<div class='container-fluid'>
            <div class='about-containter'>
                <img class='perry-image' src="images/reza-biazar-eSjmZW97cH8-unsplash.jpg" alt="image of perry"
                    srcset="">
                <p>My name is Perry Logan, and I live in Airdrie, Alberta with my wife Sandra. We have three grown children and two (so far) amazing grandkids that keep us young at heart. 
                    Writing a novel was never something that was on my bucket list and in fact, I hadn’t read a novel for almost five years. It wasn’t what I did. Then one day I decided I needed a nap. When I woke a few hours later the storyline and motivation for Kids of Concern was born. I sent myself an email with the storyline that I dreamt and began typing the next day.
                    And now three years later, I’m extremely excited to be launching; Kids of Concern. 
                    I typed everyday and found a passion I didn’t know existed in me. I finished the book because I learned to love and embrace the story and the characters became real. The story is fiction, but many of the locations and characters are based on experiences and friendships I had growing up. 
                    I hope you enjoy my first adventure into writing, and I’ll be releasing my second novel in the summer of 2021. It will be the sequel to Kids of Concern and will be called; Kids of Concern – The Continuation.
                    Enjoy and stay safe!</p>
            </div>
            <div class="section-border"></div>
        </div>