<div class='container-fluid '>
    <div class='book-card'>
        <div class="card mb-3" style="max-width: 1600px;">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="images/Kids of Concern - Final Version.png" class="card-img" alt="...">
                </div>
                <div class="col-lg-7 ">
                    <div class="card-body">
                        <h5 class="card-title">Kids of Concern</h5>
                        <p class="card-text">
                        <div class='review'>

                            Magnificent!!  This book ‘Kids of Concern’ has been masterfully crafted with
                            suspense, compassion and intrigue, that makes this book hard to put down.  The
                            characters and plot have been intricately woven and it is easy to form pictures in
                            your mind as his writing plays out like a movie.  Perry Logan is a brilliant writer,
                            and I cannot wait to read more from him.  Highly recommended!

                            <div class='reviewer'><em>Janinr Fulla</em></div>
                        </div>
                        <div class='review'>

                            Kids of Concern grabbed my imagination early and made it hard to put it down. If you
                            enjoy a story with lots of mystery and left and right turns then this book is for
                            you. Great characters, lots of story lines and an ending I never saw coming.
                            <div class='reviewer'><em>Steve Parson</em></div>
                        </div>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class='buy-heading'>Buy Kids of Concern!</h2>
    <div class='sales-button-group'>
    <div class='row sales-buttons'>
        <div class='col col-md-4 col-sm-6 '>
            <a class="btn btn-outline-dark btn-block" href="#" role="button">1</a>
        </div>
        <div class='col col-md-4 col-sm-6'>
            <a class="btn btn-outline-dark btn-block href=" #" role="button">2</a>
        </div>
        <div class='col col-md-4 col-sm-6'>
            <a class="btn btn-outline-dark btn-block" href="#" role="button">3</a>
        </div>
    </div>
    <div class='row sales-buttons'>
        <div class='col col-md-4 col-sm-6'>
            <a class="btn btn-outline-dark btn-block" href="#" role="button">4</a>
        </div>
        <div class='col col-md-4 col-sm-6'>
            <a class="btn btn-outline-dark btn-block" href="#" role="button">5</a>
        </div>
        <div class='col col-md-4 col-sm-6'>
            <a class="btn btn-outline-dark btn-block" href="#" role="button">6</a>
        </div>
    </div>
    <div class='row sales-buttons'>
        <div class='col col-md-4 col-sm-6'>
            <a class="btn btn-outline-dark btn-block" href="#" role="button">7</a>
        </div>
        <div class='col col-md-4 col-sm-6'>
            <a class="btn btn-outline-dark btn-block" href="#" role="button">8</a>
        </div>
        <div class='col col-md-4 col-sm-6'>
            <a class="btn btn-outline-dark btn-block" href="#" role="button">9</a>
        </div>
    </div>
</div>

    <div class="section-border"></div>
</div>